# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [3]:
%run parse_data.ipynb

(297, 9)
    ca  thal
0  0.0   6.0
1  3.0   3.0
2  2.0   7.0
3  0.0   3.0
4  0.0   3.0
Datset after deleting rows where ca (number of major blood vessels coloured by fluorscopy) and type of 'thal' (thalessaemia) is unknown      sex   age  trestbps   chol  restecg  thalach  exang   ca  thal
0    1.0  63.0     145.0  233.0      2.0    150.0    0.0  0.0   6.0
1    1.0  67.0     160.0  286.0      2.0    108.0    1.0  3.0   3.0
2    1.0  67.0     120.0  229.0      2.0    129.0    1.0  2.0   7.0
3    1.0  37.0     130.0  250.0      0.0    187.0    0.0  0.0   3.0
4    0.0  41.0     130.0  204.0      2.0    172.0    0.0  0.0   3.0
..   ...   ...       ...    ...      ...      ...    ...  ...   ...
297  0.0  57.0     140.0  241.0      0.0    123.0    1.0  0.0   7.0
298  1.0  45.0     110.0  264.0      0.0    132.0    0.0  0.0   7.0
299  1.0  68.0     144.0  193.0      0.0    141.0    0.0  2.0   7.0
300  1.0  57.0     130.0  131.0      0.0    115.0    1.0  1.0   7.0
301  0.0  57.0     130.0  236.0      2.0    174.0    0.0  1.0   3.0

[297 rows x 9 columns]
     sex   age  blood pressure  cholesterol  restecg  thalach  \
0    1.0  63.0           145.0        233.0      2.0    150.0
1    1.0  67.0           160.0        286.0      2.0    108.0
2    1.0  67.0           120.0        229.0      2.0    129.0
3    1.0  37.0           130.0        250.0      0.0    187.0
4    0.0  41.0           130.0        204.0      2.0    172.0
..   ...   ...             ...          ...      ...      ...
297  0.0  57.0           140.0        241.0      0.0    123.0
298  1.0  45.0           110.0        264.0      0.0    132.0
299  1.0  68.0           144.0        193.0      0.0    141.0
300  1.0  57.0           130.0        131.0      0.0    115.0
301  0.0  57.0           130.0        236.0      2.0    174.0

     exercise induced angina  visible arteries  blood defect type age group
0                        0.0               0.0                6.0     60-69
1                        1.0               3.0                3.0     60-69
2                        1.0               2.0                7.0     60-69
3                        0.0               0.0                3.0     30-39
4                        0.0               0.0                3.0     40-49
..                       ...               ...                ...       ...
297                      1.0               0.0                7.0     50-59
298                      0.0               0.0                7.0     40-49
299                      0.0               2.0                7.0     60-69
300                      1.0               1.0                7.0     50-59
301                      0.0               1.0                3.0     50-59

[297 rows x 10 columns]

In [4]:
df.describe()

NameError: name 'df' is not defined