In [1]:
import pandas as pd

df0 = pd.read_csv('data.csv')

df0.columns = df0.columns.str.strip()

df0.describe(include='all')

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,class
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303,303,303.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,166,NaN
mean,151.000000,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,NaN,NaN,0.937294
std,87.612784,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,NaN,NaN,1.228536
min,0.000000,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,NaN,NaN,0.000000
25%,75.500000,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,NaN,NaN,0.000000
50%,151.000000,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,NaN,NaN,0.000000
75%,226.500000,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,NaN,NaN,2.000000
max,302.000000,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,NaN,NaN,4.000000

In [2]:
df0 = df0[['sex', 'age', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'ca', 'thal']]

df0.describe(include='all')

,sex,age,trestbps,chol,fbs,restecg,thalach,exang,ca,thal
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303,303
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176,166
mean,0.679868,54.438944,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,NaN,NaN
std,0.467299,9.038662,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,NaN,NaN
min,0.000000,29.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,NaN,NaN
25%,0.000000,48.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,NaN,NaN
50%,1.000000,56.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,NaN,NaN
75%,1.000000,61.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,NaN,NaN
max,1.000000,77.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,NaN,NaN

In [3]:
df0['ca'] = df0['ca'].replace('?', pd.NA)
df0['thal'] = df0['thal'].replace('?', pd.NA)

df0['ca'] = pd.to_numeric(df0['ca'], errors='coerce')
df0['thal'] = pd.to_numeric(df0['thal'], errors='coerce')

df0 = df0.dropna(subset=['ca', 'thal']).copy()

cols_to_keep = ['sex', 'age', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'ca', 'thal']
df_filtered = df0[cols_to_keep].copy()

print(df_filtered.shape)
print(df_filtered[['ca', 'thal']].head())

print("Datset after deleting rows where ca (number of major blood vessels coloured by fluorscopy) and type of 'thal' (thalessaemia) is unknown", df_filtered)

(297, 10)
    ca  thal
0  0.0   6.0
1  3.0   3.0
2  2.0   7.0
3  0.0   3.0
4  0.0   3.0
Datset after deleting rows where ca (number of major blood vessels coloured by fluorscopy) and type of 'thal' (thalessaemia) is unknown      sex   age  trestbps   chol  fbs  restecg  thalach  exang   ca  thal
0    1.0  63.0     145.0  233.0  1.0      2.0    150.0    0.0  0.0   6.0
1    1.0  67.0     160.0  286.0  0.0      2.0    108.0    1.0  3.0   3.0
2    1.0  67.0     120.0  229.0  0.0      2.0    129.0    1.0  2.0   7.0
3    1.0  37.0     130.0  250.0  0.0      0.0    187.0    0.0  0.0   3.0
4    0.0  41.0     130.0  204.0  0.0      2.0    172.0    0.0  0.0   3.0
..   ...   ...       ...    ...  ...      ...      ...    ...  ...   ...
297  0.0  57.0     140.0  241.0  0.0      0.0    123.0    1.0  0.0   7.0
298  1.0  45.0     110.0  264.0  0.0      0.0    132.0    0.0  0.0   7.0
299  1.0  68.0     144.0  193.0  1.0      0.0    141.0    0.0  2.0   7.0
300  1.0  57.0     130.0  131.0  0.0      0.0    115.0    1.0  1.0   7.0
301  0.0  57.0     130.0  236.0  0.0      2.0    174.0    0.0  1.0   3.0

[297 rows x 10 columns]

In [4]:
df_filtered = df_filtered.rename( columns={'trestbps':'blood pressure', 'chol':'cholesterol', 'fbs': 'Fasting Blood Sugar', 'thalac':'maximum heart rate', 'exang':'exercise induced angina', 'ca':'severity of artery blockage', 'thal':'blood defect type'} )

df_filtered.describe()

,sex,age,blood pressure,cholesterol,Fasting Blood Sugar,restecg,thalach,exercise induced angina,severity of artery blockage,blood defect type
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,0.676768,54.542088,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,0.676768,4.730640
std,0.468500,9.049736,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,0.938965,1.938629
min,0.000000,29.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,3.000000
25%,0.000000,48.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,3.000000
50%,1.000000,56.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.000000,3.000000
75%,1.000000,61.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.000000,7.000000
max,1.000000,77.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,3.000000,7.000000

In [5]:
bins = [0, 30, 40, 50, 60, 70, 120]
labels = ['<30', '30-39', '40-49', '50-59', '60-69', '70+']

df_filtered['age group'] = pd.cut(df0['age'], bins=bins, labels=labels, right=True)

print(df_filtered)

     sex   age  blood pressure  cholesterol  Fasting Blood Sugar  restecg  \
0    1.0  63.0           145.0        233.0                  1.0      2.0
1    1.0  67.0           160.0        286.0                  0.0      2.0
2    1.0  67.0           120.0        229.0                  0.0      2.0
3    1.0  37.0           130.0        250.0                  0.0      0.0
4    0.0  41.0           130.0        204.0                  0.0      2.0
..   ...   ...             ...          ...                  ...      ...
297  0.0  57.0           140.0        241.0                  0.0      0.0
298  1.0  45.0           110.0        264.0                  0.0      0.0
299  1.0  68.0           144.0        193.0                  1.0      0.0
300  1.0  57.0           130.0        131.0                  0.0      0.0
301  0.0  57.0           130.0        236.0                  0.0      2.0

     thalach  exercise induced angina  severity of artery blockage  \
0      150.0                      0.0                          0.0
1      108.0                      1.0                          3.0
2      129.0                      1.0                          2.0
3      187.0                      0.0                          0.0
4      172.0                      0.0                          0.0
..       ...                      ...                          ...
297    123.0                      1.0                          0.0
298    132.0                      0.0                          0.0
299    141.0                      0.0                          2.0
300    115.0                      1.0                          1.0
301    174.0                      0.0                          1.0

     blood defect type age group
0                  6.0     60-69
1                  3.0     60-69
2                  7.0     60-69
3                  3.0     30-39
4                  3.0     40-49
..                 ...       ...
297                7.0     50-59
298                7.0     40-49
299                7.0     60-69
300                7.0     50-59
301                3.0     50-59

[297 rows x 11 columns]

In [6]:
df_filtered['severity of artery blockage'] = -1 * df_filtered['severity of artery blockage'] 

print(df_filtered[['severity of artery blockage']].head())

   severity of artery blockage
0                         -0.0
1                         -3.0
2                         -2.0
3                         -0.0
4                         -0.0

In [7]:
df = df_filtered

In [8]:
df.describe()

,sex,age,blood pressure,cholesterol,Fasting Blood Sugar,restecg,thalach,exercise induced angina,severity of artery blockage,blood defect type
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,0.676768,54.542088,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,-0.676768,4.730640
std,0.468500,9.049736,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,0.938965,1.938629
min,0.000000,29.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,-3.000000,3.000000
25%,0.000000,48.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,-1.000000,3.000000
50%,1.000000,56.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.000000,3.000000
75%,1.000000,61.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,0.000000,7.000000
max,1.000000,77.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,-0.000000,7.000000